.principal {
    font-size: 1.2em; 
    height: 100%;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 1px 2px 1px black;
    text-align: center;
    margin-right: 50px;
}

h1 {
    font-size: 4em;
    margin-left: 4%;
}

h2 {
    margin-left: 4%;
    font-size: 3em;
}

section {
    margin-bottom: 120px;
}

#colab img {
    width: 60%;
    height: 60%;
    border-radius: 100px;
}

#colab div {
    display: flex;
    flex-direction: column;
    width: 50%;
    
}

#colab p {
    margin: 0;
    margin-left: 10%;
}

#colab {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}

#colab h3 {
    color: white;
    font-size: 1.5em;
}

#creditos a {
    text-decoration: none;
    color: white;
    margin-left: 6%;
}

#creditos a:hover {
    color: gray;
}

#creditos h3 {
    color: white;
    font-size: 1.5em;
    margin-left: 4%;
}