@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); 
 
body {
    overflow-x: hidden; 
}

html {
    background-image: linear-gradient(80deg, #000000 0 , #000000 60%, #1d1b1b 40%);
}

h1{
    margin-top: 100px;

}

header{
    background-color: #262a30;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    top: 0;
    width: 100%;
    position: absolute;  
    height: 11%;
    right: 0px;
    margin: 0px;
}

header a {
    text-decoration: none;
    color: aliceblue;
    padding: .3em;
    font-size: 1.2em;
    margin-right: 2em;
    border-radius: 30px;
    transition: color 1s, background-color 1s;
    cursor: pointer;
    margin-bottom: 0px;
}

header a:hover {
    color: black;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
}

#logo {
    width: 3em;
    padding-left: 1%; 
}

#nome {
    color: #b0a933;
    font-family: "GFS Neohellenic", sans-serif;
    font-size: 1.8em;
    margin-right: 4%;
    font-weight: bold;
    text-shadow: 3px 3px black;
}

footer{
    background-color:#262a30;
    width: 100%;
    height: 5.4em;
    left: 0px;
    position: absolute;
}

footer p {
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    color: white;
    text-align: center;
}

footer img {
    width: 30px;
    margin-right: .5%;
    display: inline-block;
}

#redes {
    margin-left: 47%;
}

#principal {
    height: 700px;
    color: white;
}

#principal h1 {
    font-family: "GFS Neohellenic", sans-serif ;
    font-weight: 300px;
    font-size: 90px;
    margin: 65px;
    position: relative;
    top: 30px;
    margin-top: 150px;
    
}

 #principal p {
    font-family:"Open Sans", sans-serif;
    font-weight: 200px;
    font-size: 25px;
    text-align: left;
    position: relative;
    width: 50%;
}
#medusa {
    position: relative;
    animation: flutuando 1.5s ease-in-out 0s infinite alternate;
    float: right;
    height:1054px;
    margin-right: 2%;
}

@keyframes flutuando {
  from { top: -754px; }
  to   { top: -710px; }
}


#principal h1, p {
    margin-left: 4%;
}

main {
    
    background-position: local;
    background-size: cover;
}

#fotos {
    height: 1000px;
}


#fotos h2 {
    font-family:"GFS Neohellenic", sans-serif ;
    font-size: 75px;
    position: relative;
    margin-left: 4%;
    margin-top: 0px;
    color: white;
}

#fotos figure {
    display:inline-block;  
    position: relative;
    justify-content: space-between;
}

#fotos figure h3 {
    position: relative; 
    text-align: center;
    top: -200px;
    font-size:30px;
    font-family: "Open Sans", sans-serif;
    transition: transform 2s, opacity 2s; 
    opacity: 1; 
    background-color: rgba(255, 255, 255, 0.5);
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    
}

#fotos img {
    transition: opacity 2s;
    opacity: 0;
    height: 18em; 
    width: 18em;
    border: 8px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    
}

#fotos figure:hover h3 {
    transform: translate(-0.1em,-6.5em);
}

#fotos figure:hover img {
    opacity: 1;
}

#fotos table {
    position: absolute;
}

#fotos table tr {
    position: relative;
    left: 7%;
}

@media (max-width:1921px) {
    header a{
        font-size: 1.8em;
        padding: .3em;
        margin-right: 5em;
    }

    #logo {
        width: 5em;
        margin-right: 1%; 
    }

    #nome {
        font-size: 2.8em;
        margin-right: 7%;
    }

    #principal h1 {
        font-size: 90px;
    }
    
     #principal p {
        font-size: 30px;
        width: 40%;
    }

    #medusa {
        animation: flutuando 1.5s ease-in-out 0s infinite alternate;
        height: 1400px;
    }

    @keyframes flutuando {
        from { top: -974px; }
        to   { top: -930px; }
      }
      

    #fotos h2 {
        font-size: 70px;
        margin-left: 4%;
        margin-top: 30px;
    }
    
    #fotos figure {
        display:inline-block;  
        position: relative;
        justify-content: space-between;
    }
    
    #fotos figure h3 {
        text-align: center;
        top: -200px;
        font-size:28px;
        width: 460px;
    }

    #fotos figure:hover h3 {
        transform: translate(-0.1em,-12em);
    }
    
    #fotos img {
        height: 28em; 
        width: 28em;
        margin-right: 5em;
    }
    
    #fotos table {
        position: absolute;
    }
    
    #fotos table tr {
        left: 3%;
    }

    #fotos {
        margin-top: 100px;
    }

    footer{
        height: 6em;
        bottom: -1240px;
    }
    
    footer p {
        font-size: 13px;
    }
    
    footer img {
        width: 30px;
        margin-right: .5%;
        display: inline-block;
    }
    
    #redes {
        margin-left: 47%;
    }
}

@media (max-width:1680px) {
    header a{
        font-size: 1.4em;
        padding: .3em;
        margin-right: 6em;
    }

    #logo {
        width: 4em;
        margin-right: 1%; 
    }

    #nome {
        font-size: 2.4em;
        margin-right: 10%;
    }

    #principal h1 {
        font-size: 80px;
    }
    
     #principal p {
        font-size: 25px;
        width: 40%;
    }

    #medusa {
        animation: flutuando 1.5s ease-in-out 0s infinite alternate;
        height: 1200px;
    }

    @keyframes flutuando {
        from { top: -874px; }
        to   { top: -830px; }
      }
      

    #fotos h2 {
        font-size: 60px;
        margin-left: 4%;
        margin-top: 0px;
    }
    
    #fotos figure {
        display:inline-block;  
        position: relative;
        justify-content: space-between;
    }
    
    #fotos figure h3 {
        text-align: center;
        top: -200px;
        font-size:23px;
        width: 350px;
    }

    #fotos figure:hover h3 {
        transform: translate(-0.1em,-9.5em);
    }
    
    #fotos img {
        height: 21em; 
        width: 21em;
        margin-right: 5.5em;
    }
    
    #fotos table {
        position: absolute;
    }
    
    #fotos table tr {
        left: 3%;
    }
}

@media (max-width:1610px) {
    #nome {
        font-size: 2.4em;
        margin-right: 6%;
    }
}

@media (max-width:1590px) {
    header a{
        font-size: 1.4em;
        padding: .3em;
        margin-right: 6em;
    }

    #logo {
        width: 4em;
        margin-right: 1%; 
    }

    #nome {
        font-size: 2.4em;
        margin-right: 8%;
    }

    #principal h1 {
        font-size: 80px;
    }
    
     #principal p {
        font-size: 25px;
        width: 40%;
    }

    #medusa {
        animation: flutuando 1.5s ease-in-out 0s infinite alternate;
        height: 1200px;
    }

    @keyframes flutuando {
        from { top: -874px; }
        to   { top: -830px; }
      }
      

    #fotos h2 {
        font-size: 60px;
        margin-left: 4%;
        margin-top: 0px;
    }
    
    #fotos figure {
        display:inline-block;  
        position: relative;
        justify-content: space-between;
    }
    
    #fotos figure h3 {
        text-align: center;
        top: -200px;
        font-size:23px;
        width: 350px;
    }

    #fotos figure:hover h3 {
        transform: translate(-0.1em,-9.5em);
    }
    
    #fotos img {
        height: 21em; 
        width: 21em;
        margin-right: 5.5em;
    }
    
    #fotos table {
        position: absolute;
    }
    
    #fotos table tr {
        left: 3%;
    }
}

@media (max-width:1570px) {
    #nome {
        font-size: 2.4em;
        margin-right: 5%;
    }
}

@media (max-width:1553px) {
    header a{
        font-size: 1.4em;
        padding: .3em;
        margin-right: 6em;
    }

    #logo {
        width: 4em;
        margin-right: 1%; 
    }

    #nome {
        font-size: 2.4em;
        margin-right: 5%;
    }

    #principal h1 {
        font-size: 80px;
    }
    
     #principal p {
        font-size: 25px;
        width: 40%;
    }

    #medusa {
        animation: flutuando 1.5s ease-in-out 0s infinite alternate;
        height: 1200px;
    }

    @keyframes flutuando {
        from { top: -874px; }
        to   { top: -830px; }
      }
      

    #fotos h2 {
        font-size: 60px;
        margin-left: 4%;
        margin-top: 0px;
    }
    
    #fotos figure {
        display:inline-block;  
        position: relative;
        justify-content: space-between;
    }
    
    #fotos figure h3 {
        text-align: center;
        top: -200px;
        font-size:23px;
        width: 350px;
    }

    #fotos figure:hover h3 {
        transform: translate(-0.1em,-9.5em);
    }
    
    #fotos img {
        height: 21em; 
        width: 21em;
        margin-right: 5.5em;
    }
    
    #fotos table {
        position: absolute;
    }
    
    #fotos table tr {
        left: 3%;
    }
}

@media (max-width:1517px) {
    header a{
        font-size: 1.4em;
        padding: .3em;
        margin-right: 5em;
    }

    #logo {
        width: 4em;
        margin-right: 1%; 
    }

    #nome {
        font-size: 2.4em;
        margin-right: 8%;
    }

    #principal h1 {
        font-size: 80px;
    }
    
     #principal p {
        font-size: 25px;
        width: 40%;
    }

    #medusa {
        animation: flutuando 1.5s ease-in-out 0s infinite alternate;
        height: 1200px;
    }

    @keyframes flutuando {
        from { top: -874px; }
        to   { top: -830px; }
      }
      

    #fotos h2 {
        font-size: 60px;
        margin-left: 4%;
        margin-top: 0px;
    }
    
    #fotos figure {
        display:inline-block;  
        position: relative;
        justify-content: space-between;
    }
    
    #fotos figure h3 {
        text-align: center;
        top: -200px;
        font-size:23px;
        width: 330px;
    }

    #fotos figure:hover h3 {
        transform: translate(-0.1em,-8.8em);
    }
    
    #fotos img {
        height: 20em; 
        width: 20em;
        margin-right: 5.5em;
    }
    
    #fotos table {
        position: absolute;
    }
    
    #fotos table tr {
        left: 3%;
    }
}

@media (max-width:1440px) {
    header a{
        font-size: 1.3em;
        padding: .3em;
        margin-right: 5.5em;
    }

    #logo {
        width: 3.6em;
        padding-left: 1%; 
    }

    #nome {
        font-size: 2.3em;
        margin-right: 8%;
    }

    #principal h1 {
        font-size: 70px;
    }
    
     #principal p {
        font-size: 25px;
        width: 45%;
    }

    #medusa {
        animation: flutuando 1.5s ease-in-out 0s infinite alternate;
    }

    @keyframes flutuando {
        from { top: -754px; }
        to   { top: -710px; }
      }

    #fotos h2 {
        font-size: 75px;
        margin-left: 4%;
        margin-top: 0px;
    }
    
    #fotos figure {
        display:inline-block;  
        position: relative;
        justify-content: space-between;
    }
    
    #fotos figure h3 {
        text-align: center;
        top: -200px;
        font-size:30px;
    }
    
    #fotos img {
        height: 19em; 
        width: 19em;
    }
    
    #fotos table {
        position: absolute;
    }
    
    #fotos table tr {
        left: 9%;
    }
    
}

@media (max-width:1368px) {
    header a{
        font-size: 1.3em;
        padding: .3em;
        margin-right: 5.5em;
    }

    #logo {
        width: 3.6em;
        padding-left: 1%; 
    }

    #nome {
        font-size: 2.3em;
        margin-right: 5%;
    }

    #principal h1 {
        font-size: 70px;
        margin: 65px;
    }
    
     #principal p {
        font-size: 25px;
        width: 45%;
    }

    #fotos h2 {
        font-size: 75px;
        margin-left: 4%;
        margin-top: 0px;
    }
    
    #fotos figure {
        display:inline-block;  
        position: relative;
        justify-content: space-between;
    }
    
    #fotos figure h3 {
        text-align: center;
        top: -200px;
        font-size:30px;
    }
    
    #fotos img {
        height: 19em; 
        width: 19em;
    }
    
    #fotos table {
        position: absolute;
    }
    
    #fotos table tr {
        left: 6%;
    }
    
}

@media (max-width:1323px) {
    header a{
        font-size: 1.3em;
        padding: .3em;
        margin-right: 5.1em;
    }

    #logo {
        width: 3.6em;
        padding-left: 1%; 
    }

    #nome {
        font-size: 2.3em;
        margin-right: 5%;
    }

    #principal h1 {
        font-size: 70px;
        margin: 65px;
    }
    
     #principal p {
        font-size: 25px;
        width: 45%;
    }

    #fotos h2 {
        font-size: 75px;
        margin-left: 4%;
        margin-top: 0px;
    }
    
    #fotos figure {
        display:inline-block;  
        position: relative;
        justify-content: space-between;
    }
    
    #fotos figure h3 {
        text-align: center;
        top: -200px;
        font-size:30px;
    }
    
    #fotos img {
        height: 18em; 
        width: 18em;
    }
    
    #fotos table {
        position: absolute;
    }
    
    #fotos table tr {
        left: 6%;
    }
    
}

@media (max-width:1277px) {
    header a{
        font-size: 1.4em;
        padding: .3em;
        margin-right: 3.2em;
    }

    #logo {
        width: 3.4em;
        padding-left: 1%; 
    }

    #nome {
        font-size: 2.1em;
        margin-right: 7%;
    }

    #principal h1 {
        font-size: 70px;
        margin: 65px;
    }
    
     #principal p {
        font-size: 25px;
        width: 45%;
    }

    #fotos h2 {
        font-size: 75px;
        margin-left: 4%;
        margin-top: 0px;
    }
    
    #fotos figure {
        display:inline-block;  
        position: relative;
        justify-content: space-between;
    }
    
    #fotos figure h3 {
        text-align: center;
        top: -200px;
        font-size:30px;
    }
    
    #fotos img {
        height: 18em; 
        width: 18em;
    }
    
    #fotos table {
        position: absolute;
    }
    
    #fotos table tr {
        left: 3%;
    }
    
}

@media (max-width:1210px) {
    header a{
        font-size: 1.3em;
        padding: .3em;
        margin-right: 3em;
    }

    #logo {
        width: 3.5em;
        padding-left: 1%; 
    }

    #nome {
        font-size: 2em;
        margin-right: 7%;
    }

    #principal h1 {
        font-size: 60px;
        margin: 65px;
    }
    
     #principal p {
        font-size: 25px;
        width: 40%;
    }

    #medusa {
        animation: flutuando 1.5s ease-in-out 0s infinite alternate;
    }

    @keyframes flutuando {
        from { top: -854px; }
        to   { top: -810px; }
      }
      

    #fotos h2 {
        font-size: 60px;
        margin-left: 4%;
        margin-top: 0px;
    }
    
    #fotos figure {
        display:inline-block;  
        position: relative;
        justify-content: space-between;
    }
    
    #fotos figure h3 {
        text-align: center;
        top: -200px;
        font-size:20px;
    }
    
    #fotos img {
        height: 16.5em; 
        width: 16.5em;
    }
    
    #fotos table {
        position: absolute;
    }
    
    #fotos table tr {
        left: 3%;
    }
}

@media (max-width:1100px) {
    header a{
        font-size: .9em;
        padding: .3em;
        margin-right: 1.5em;
    }

    #logo {
        width: 2.3em;
        padding-left: 1%; 
    }

    #nome {
        font-size: 1.4em;
        margin-right: 4%;
    }

    #principal h1 {
        font-size: 60px;
        margin: 65px;
    }
    
     #principal p {
        font-size: 25px;
        width: 45%;
    }

    #principal img {
        top: -400px;
        right: -70px;
        height: 300px;
        margin-right: 4%;
    }

    #fotos h2 {
        font-size: 60px;
        margin-left: 4%;
        margin-top: 0px;
    }
    
    #fotos figure {
        display:inline-block;  
        position: relative;
        justify-content: space-between;
    }
    
    #fotos figure h3 {
        text-align: center;
        top: -200px;
        font-size:15px;
    }
    
    #fotos img {
        height: 14em; 
        width: 14em;
    }
    
    #fotos table {
        position: absolute;
    }
    
    #fotos table tr {
        left: 3%;
    }
}

@media (max-width:1010px) {
    header a{
        font-size: .9em;
        padding: .3em;
        margin-right: 1em;
    }

    #logo {
        width: 2.3em;
        padding-left: 1%; 
    }

    #nome {
        font-size: 1.3em;
        margin-right: 4%;
    }

    #principal h1 {
        font-size: 60px;
        margin: 65px;
        text-align: center;
    }
    
     #principal p {
        font-size: 30px;
        width: 90%;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.3);
    }

    #principal img { 
        display: none;
    }   

    #fotos h2 {
        font-size: 60px;
        margin-left: 4%;
        margin-top: 0px;
    }
    
    #fotos figure {
        display:inline-block;  
        position: relative;
        justify-content: space-between;
    }
    
    #fotos figure h3 {
        text-align: center;
        top: -200px;
        font-size:12px;
    }
    
    #fotos img {
        height: 13em; 
        width: 13em;
    }
    
    #fotos table {
        position: absolute;
    }
    
    #fotos table tr {
        left: 3%;
    }
}

@media (max-width:950px) {
    header a{
        font-size: .9em;
        padding: .3em;
        margin-right: .5em;
    }

    header{
        top: 0;
        width: 100%;
        position: absolute;  
        height: 5%;
        right: 0px;
        margin: 0px;
    }

    #logo {
        width: 2.2em;
        padding-left: 1%; 
    }

    #nome {
        font-size: 1.2em;
        margin-right: 4%;
    }

    #principal h1 {
        font-size: 60px;
        margin: 65px;
        text-align: center;
    }
    
     #principal p {
        font-size: 30px;
        width: 90%;
        text-align: center;
    }

    #principal img {
        display: none;
    }

    #fotos h2 {
        font-size: 60px;
        margin-left: 4%;
        margin-top: 0px;
    }
    
    #fotos figure {
        display:inline-block;  
        position: relative;
        justify-content: space-between;
    }
    
    #fotos figure {
        position: relative;
        margin-left: 63%;
    }
    
    #fotos figure h3 {
        display: none;
    }
    
    #fotos img {
        height: 30em; 
        width: 30em;
        opacity: 1;
        border: 20px solid rgba(255, 255, 255, 0.5);
    }

    
    #fotos table {
        position: absolute;
    }

    
    #fotos table tr {
        left: -30%;
        display: flex;
        flex-direction: column;
    }
    
    #fotos table {
        position: absolute;
    }
    
    #fotos table tr {
        
    }

    footer{
        bottom: -158%;
    }

}

@media (max-width:890px) {
    header a{
        font-size: .7em;
        padding: .3em;
        margin-right: 1.5em;
    }

    #logo {
        width: 2.1em;
        padding-left: 1%; 
    }

    #nome {
        font-size: 1.1em;
        margin-right: 4%;
    }

    #fotos h2 {
        font-size: 60px;
        margin-left: 4%;
        margin-top: 0px;
        text-align: center;
    }
    
    #fotos figure {
        position: relative;
        margin-left: 63%;
    }
    
    #fotos figure h3 {
        display: none;
    }
    
    #fotos img {
        height: 20em; 
        width: 20em;
        opacity: 1;
        border: 20px solid rgba(255, 255, 255, 0.5);
    }

    
    #fotos table {
        position: absolute;
    }

    
    #fotos table tr {
        left: 3%;
        display: flex;
        flex-direction: column;
    }

    footer{
        bottom: -105%;
    }
    
    html {
        background-image: linear-gradient(80deg, #000000 0 , #000000 100%, #1d1b1b 0%);
    }

}

@media (max-width:768px) { 
    #fotos figure {
        position: relative;
        margin-left: 50%;
    }
    
    #fotos figure h3 {
        text-align: center;
        top: -200px;
        font-size:20px;
    }
    
    #fotos img {
        height: 20em; 
        width: 20em;
    }

    #fotos figure:hover h3 {
        transform: translate(-0.1em,-10em);
    }
    
    #fotos table {
        position: absolute;
    }

    
    #fotos table tr {
        left: 3%;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:680px) {
    header a{
        font-size: .9em;
        padding: .3em;
        margin-right: .5em;
    }

    #logo {
        width: 2.2em;
        padding-left: 1%; 
    }

    #nome {
        font-size: 1.2em;
        margin-right: 4%;
    }

    #principal h1 {
        font-size: 60px;
        margin: 65px;
        text-align: center;
    }
    
     #principal p {
        font-size: 25px;
        width: 90%;
        text-align: center;
    }

    #principal img {
        display: none;
    }

    #fotos figure {
        position: relative;
        margin-left: 25%;
    }
    
    #fotos figure h3 {
        text-align: center;
        top: -200px;
        font-size:20px;
    }
    
    #fotos img {
        height: 20em; 
        width: 20em;
    }

    #fotos figure:hover h3 {
        transform: translate(-0.1em,-10em);
    }
    
    #fotos table {
        position: absolute;
    }

    
    #fotos table tr {
        left: 3%;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:568px) { 
    #fotos figure {
        position: relative;
        margin-left: 15%;
    }
    
    #fotos figure h3 {
        text-align: center;
        top: -200px;
        font-size:20px;
    }
    
    #fotos img {
        height: 20em; 
        width: 20em;
    }

    #fotos figure:hover h3 {
        transform: translate(-0.1em,-10em);
    }
    
    #fotos table {
        position: absolute;
    }

    
    #fotos table tr {
        left: 3%;
        display: flex;
        flex-direction: column;
    }
}
