@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    overflow-x: hidden;
    background-color: #D6D4D0;
}

header{
    background-color: #001f49;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    top: 0;
    width: 100%;
    position: absolute;  
    height: 60px;
    right: 0px;
}


a {
    text-decoration: none;
    color: aliceblue;
    padding: 5px;
    font-size: 15px;
    margin-right: 50px;
    border-radius: 30px;
    transition: color 1s, background-color 1s;
    cursor: pointer;
}

header a:hover {
    color: black;
    background-color: white;
    border-radius: 30px;
}

#logo {
    width: 2.5em;
    padding-right: 20px;
    padding-left: 40px;
}

#nome {
    color: #b0a933;
    font-family: "GFS Neohellenic", sans-serif;
    font-size: 25px;
    margin-right: 50px;
    font-weight: bold;
    text-shadow: 3px 3px black;
}

footer{
    background-color: #001f49;
    bottom: -1200px; 
    width: 100%;
    position: absolute;
    height: 5em;
    left: 0px;
}

footer p {
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    color: white;
    text-align: center;
}

footer img {
    width: 30px;
    margin-right: 20px;
    display: inline;
    
}

#principal {
    height: 600px;
    background-image: url(imgs/Fundo2.png);
    background-repeat: no-repeat;
    background-attachment:local; 
    background-size:cover;
    position:relative;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5)
}

#principal h1 {
    font-family: "GFS Neohellenic", sans-serif ;
    font-weight: 300px;
    font-size: 90px;
}

 #principal p {
    font-family:"Open Sans", sans-serif;
    font-weight: 200px;
    font-size: 25px;
    text-align: left;
    position: relative;
    width: 700px;
}

#principal img {
    position: relative;
    float: right;
    top: -600px;
    right: -100px;
    height: 600px;
    margin-right: 4%;
}

#principal h1, p {
    margin-left: 4%;
}

#fotos {
    height: 1000px;
    background-image: url(imgs/Fundo.png);
    background-repeat: no-repeat;
    background-attachment:local; 
    background-size:cover;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5)
}


#fotos h2 {
    font-family:"GFS Neohellenic", sans-serif ;
    font-size: 75px;
    position: relative;
    margin-left: 4%;
}

#fotos figure {
    display:inline-block;  
    position: relative;
    justify-content: space-between;
    
}

#fotos figure h3 {
    position: relative; 
    text-align: center;
    top: -200px;
    font-size:30px;
    font-family: "Open Sans", sans-serif;
    transition: transform 2s, opacity 2s; 
    opacity: 1; 
    background-color: rgba(255, 255, 255, 0.5);
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    
}

#fotos img {
    transition: opacity 2s;
    opacity: 0;
    height: 15em; 
    width: 15em;
    border: 10px solid rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

#fotos figure:hover h3 {
    transform: translate(-0.1em,-4.7em);
}

#fotos figure:hover img {
    opacity: 1;
}

#fotos table {
    position: absolute;
}

#fotos table tr {
    position: relative;
    left: 3%;
}

#fotos table td {
   display: inline;
   justify-content: space-between;
}


