@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    overflow-x: hidden;
    background-image: url(imgs/Fundo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

main {
    
}

article {
    
}

#principal {
    height: 750px;

}

#principal h1 {
    font-family: "GFS Neohellenic", sans-serif ;
    font-weight: 300px;
    font-size: 90px;
}

 #principal p {
    font-family:"Open Sans", sans-serif;
    font-weight: 200px;
    font-size: 25px;
    text-align: left;
    position: relative;
    width: 700px;
}

#principal img {
    position: relative;
    float: right;
    top: -511px;
    right: -40px;
    height: 700px;
}

#principal h1, p {
    margin-left: 4%;
}

#fotos {
    height: 1800px;
}

#fotos h2 {
    font-family:"GFS Neohellenic", sans-serif ;
    font-size: 75px;
    position: relative;
    margin-left: 4%;
}

#fotos figure {
    display:inline-block;  
    position: relative;
}

#fotos figure h3 {
    position: relative; 
    text-align: center;
    top: -300px;
    font-size:30px;
    font-family: "Open Sans", sans-serif;
    transition: transform 2s, opacity 2s; 
    opacity: 1; 
}

#fotos img {
    transition: opacity 2s;
    opacity: 0;
    height: 400px; 
    width:400px ;
    margin-left: 60px;
    border: 10px solid rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

#fotos figure:hover h3 {
    transform: translate(10px,-190px);
}

#fotos figure:hover img {
    opacity: 1;
}

#fotos table {
    position: absolute;
}

#fotos table tr {
    position: relative;
    left: 5%;

}
